<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".get_help" %>
  <a href="http://www.railstutorial.org/help">
    <%= t ".rails_help" %>
  </a>
  <%= t ".see_help" %>
  <a href="http://www.railstutorial.org/book">
    <em><%= t ".ror_tut" %></em>
    <%= t ".book" %>
  </a>.
</p>
