<% provide :title, t("static_pages.home.title") %>
<div class="container center jumbotron">
  <h1><%= t "controllers.users.welcome" %></h1>

  <h2>
    <%= t "static_pages.home.page" %>
    <a href="http://www.railstutorial.org/">
      <%= t "static_pages.about.ror_tut" %>
    </a>
    <%= t "static_pages.home.sample" %>
  </h2>

  <%= link_to t("static_pages.home.signup"), signup_path,
    class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag(t("static_pages.home.image"),
  alt: t("static_pages.home.logo")), "http://rubyonrails.org/" %>
