<footer>
  <small>
    <%= t "footer.the" %>
    <a href="http://www.railstutorial.org/">
      <%= t "static_pages.about.ror_tut" %>
    </a>
    by <a href="http://www.michaelhartl.com/"><%= t "footer.author" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("header.menu.about"), about_path %></li>
      <li><%= link_to t("footer.contact.title"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
