<footer>
  <small>
    <%= t ".the" %>
    <a href="http://www.railstutorial.org/">
      <%= t ".ror_tut" %>
    </a>
    by <a href="http://www.michaelhartl.com/"><%= t ".author" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".title"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= link_to t(".new") %></a></li>
    </ul>
  </nav>
</footer>
